

* {
    box-sizing: border-box;
  }

header {
    padding: 10px;
    text-align: center;
    color: gray;
    font-size: 50px;
  }

  header p {
    font-size: 25px;
    padding: 10px;
    color: gray;
  }
  
nav {
  border-bottom-style: double;
  border-color: #000000;
  
}

  nav ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    padding: 5px;
  }
body {
  background-image: url("../images/background02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}
  main {
    display: flex;
}

  main h1{
    font-size: 30px;
    padding: 5px 0;
  }

  .about-me{
    flex: 50%;
    padding: 20px;
    border-right: double;
    border-color:#000000 ;
    flex-wrap: wrap;
    font-family: Georgia,'Times New Roman', Times, serif;
  }

  section {
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    font-family: Georgia,'Times New Roman', Times, serif;
  }
  
.images {
  margin: auto;
  padding: 10px 0 10px 0;
}

  footer {
      display: flex;
      justify-content: center;
      padding: 2%;
      color: gray;
      border-top: double;
      border-color: #000000;
    }

  @media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
    
    section, aside, footer {
      padding-right: 0;
      width: 100%;
      text-align: center;
    }
  }